<table>
    <tr>
        <td>
            <button id="scg-type-procedure-printEl" type="button" class="btn btn-default btn-size">printEl</button>
        </td>

        <td>
            <button id="scg-type-procedure-genEl" type="button" class="btn btn-default btn-size">genEl</button>
        </td>

        <td>
            <button id="scg-type-procedure-searchElStr3" type="button" class="btn btn-default btn-size">searchElStr3</button>
        </td>

        <td>
            <button id="scg-type-procedure-eraseEl" type="button" class="btn btn-default btn-size">eraseEl</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-procedure-waitReturnSet" type="button" class="btn btn-default btn-size">waitReturnSet</button>
        </td>
        <td>
            <button id="scg-type-procedure-searchElStr5" type="button" class="btn btn-default btn-size">SearchElStr5</button>
        </td>
        <td>
            <button id="scg-type-procedure-print" type="button" class="btn btn-default btn-size">print</button>
        </td>
        <td>
            <button id="scg-type-procedure-genElStr3" type="button" class="btn btn-default btn-size">genElStr3</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-procedure-genElStr5" type="button" class="btn btn-default btn-size">genElStr5</button>
        </td>
        <td>
            <button id="scg-type-procedure-ifType" type="button" class="btn btn-default btn-size">ifType</button>
        </td>
        <td>
            <button id="scg-type-procedure-ifFormCont" type="button" class="btn btn-default btn-size">ifFormCont</button>
        </td>
        <td>
            <button id="scg-type-procedure-ifFormIdtf" type="button" class="btn btn-default btn-size">ifFormIdtf</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-procedure-ifNumber" type="button" class="btn btn-default btn-size">ifNumber</button>
        </td>
        <td>
            <button id="scg-type-procedure-ifCoin" type="button" class="btn btn-default btn-size">ifCoin</button>
        </td>
        <td>
            <button id="scg-type-procedure-ifString" type="button" class="btn btn-default btn-size">ifString</button>
        </td>
        <td>
            <button id="scg-type-procedure-ifEq" type="button" class="btn btn-default btn-size">ifEq</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="scg-type-procedure-ifGr" type="button" class="btn btn-default btn-size">ifGr</button>
        </td>
        <td>
            <button id="scg-type-procedure-ifGrEq" type="button" class="btn btn-default btn-size">ifGrEq</button>
        </td>
    </tr>
</table>
